<%= form_with(model: notification, local: true) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.number_field :recipient_id %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.number_field :actor_id %>
  </div>

  <div class="field">
    <%= form.label :read_at %>
    <%= form.datetime_select :read_at %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action %>
  </div>

  <div class="field">
    <%= form.label :notifiable_id %>
    <%= form.number_field :notifiable_id %>
  </div>

  <div class="field">
    <%= form.label :notifiable_type %>
    <%= form.text_field :notifiable_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
