

<div class="container">
  <div class="row tweets user-profile">
    <ul class="follow-ul">   
      <% @user ||= current_user %>
        <div>
            <h1>User Profile</h1>
            <%= render 'users/shared/stats' %>
            <div class="user-info">
                Name: 
                <strong id="name">
                  <%= @user.name %>
                </strong> 
                <% if user_signed_in? && @user != current_user %>
                      <% if is_following?(@user.id) %>
                        <%= link_to 'Unfollow', unfollow_user_path(@user.id), method: :patch %>    
                      <% else %>
                        <%= link_to 'Follow', follow_user_path(@user.id), method: :patch %>
                      <% end %>
                <% end %>
                <br>
                  User Name: 
                <strong id="user-name">
                  <%= @user.user_name %>
                </strong><br>
                  Email: 
                <strong id="email">
                  <%= @user.email %>
                </strong><br>

            </div>
            
        </div>
      </ul>
  </div>
  <div class="row">
    <div class="col">
      <section>
          
          <div class="tweets">
            <% if @user.tweets.any?%>
              <h3>User Tweets</h3>         
                    <% @tweets.each do |tweet| %>
                    <div class="container">
                      <div class="row tweet">
                          <div class="col-lg-12 col-sm-10">
                          <div class="user-name">
                              <b> <%= tweet.user.name %></b>  @<%= link_to tweet.user.user_name, user_path(tweet.user) %> . <%= tweet.created_at.to_date %>
                            </div>
                            <div class="title">
                              <b> <%= link_to tweet.tweet_title, tweet, controller: 'tweets', action: 'show' %></b>                       
                            </div>
                            <div class="tweet-content">
                              <%= tweet.tweet_content %>
                              <%if tweet.cover_picture.attached?%>                            
                                <%= image_tag(url_for(tweet.cover_picture ), size: '600x500') %>
                              <%end%>
                            </div>
                            <div class="tweet-likes">
                            <% if already_liked?(tweet) %> 
                              <div class="like">                              
                                  <%= link_to '<i class="fa fa-heart" style="font-size:20px;display:inline"></i> '.html_safe, like_tweet_path(tweet), remote: true, method: :post %>
                              </div>
                            <% else %>
                              <div class="unlike">
                                  <%= link_to '<i class="fa fa-heart " style="font-size:20px"></i> '.html_safe, like_tweet_path(tweet), remote: true, method: :post %>
                              </div>
                            <% end %>    
                            <strong><%= tweet.likes.count %></strong>
                                <%= link_to '<i class="fa fa-comment icon-red" style="font-size:20px"></i> '.html_safe, tweet_path(tweet) %>
                                <strong><%= tweet.comments.count %></strong><br><br>
                            </div>
                           
                          </div>
                          <div class="col-lg-5">
                          <% if can? :update, tweet %> <%= link_to 'Edit', edit_tweet_path(tweet) %> <%end%>     
                          <% if can? :destroy, tweet %> <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %><%end%>
                            
                          </div>
                      </div>
                    </div>                  
                    <% end %>
                <br>
                <% else %>
                <h3>This user has no tweet yet</h3>
            <% end %>
          </div>
      </section>  
    </div>
  </div>
</div>